pkgbase = opencbm-git
	pkgdesc = OpenCBM allows access to Commodore (C64) storage devices VIC 1540, 1541, 1570, 1571, or even 1581 floppy drive
	pkgver = r1432.eabd3d23
	pkgrel = 1
	url = http://sourceforge.net/projects/opencbm/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = cc65
	depends = ncurses
	depends = libusb
	depends = libusb-compat
	provides = opencbm
	source = git+https://github.com/OpenCBM/OpenCBM.git
	md5sums = SKIP

pkgname = opencbm-git

